<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registtro">
            Ir a registro
        </a>
    </li>
    <li>
        <a routerLink="/heroes/">
            Ir a listado
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/hulk">
            Ir a editar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a buscar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/123">
            Ir a heroe
        </a>
    </li>
</ul>

